@using Microsoft.AspNetCore.Identity
@using RazorPageIdentity.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if(SignInManager.IsSignedIn(User)){
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link text-dark">
                Xin chào @UserManager.GetUserName(User)
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Logout" class="nav-link text-dark">Đăng xuất</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Register" class="nav-link text-dark">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Login" class="nav-link text-dark">Đăng nhập</a>
        </li>
    }
 
</ul>